
<!-- views/partials/footer.ejs -->
<footer>
    <hr class="linea-negra">
<p id="footer1">Información General</p>
    <section id="footer2">
        <nav>
            <ul>
                <li>FORMAS DE PAGO</li>
                <li>ENVÍOS Y CAMBIOS</li>
                <li>GUÍA DE COMPRAS</li>
                <li>LOCALES</li>
                <li>RR.HH</li>
            </ul>
        </nav>
    </section>
    <section id="footer3">
        <nav>
            <ul>
                <li>Contacto</li>
                <li>Clientes</li>
                <li>E-Store</li>
                <li>WhatsApp</li>
            </ul>
        </nav>
    </section>
</footer>