<!-- views/partials/header.ejs -->

<header>
    <article class="icom-hamburguesa">
        <i class="fa-solid fa-bars"></i>
    </article>
        <img src="/img/logo-gitshoes1.jpg" alt="logo">
    
        <nav class="header-nav">
            <ul>
                <li><a href="" class="trancision-nav-header">HOMBRE</a></li>
                <li><a href="" class="trancision-nav-header">MUJER</a></li>
                <li><a href="" class="trancision-nav-header">NIÑOS</a></li>
                <li><a href="" class="trancision-nav-header">ACCESORIOS</a></li>
                <li><a href="" class="marca-menu">MARCA</a></li>
            </ul>
        </nav>
    
    <section class="Icom-header">
        <a href="" class="trasición-icono"><i class="fa-solid fa-magnifying-glass" class="trancision-nav-header"></i>   </a>
      <a href="" class="trasición-icono"><i class="fa-solid fa-user"></i></a>
        <a href="" class="trasición-icono"> <i class="fa-solid fa-cart-shopping"></i></a>
        
    </section>
      <div class="envio-gratis-bar">
            ¡Envío gratis a partir de $50,000!
        </div>
        <hr class="linea-negra">
</header>