<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitshoes - carrito</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/img/icom/favicon-16x16.png"/>
    <script src="https://kit.fontawesome.com/5db5054929.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <article class="icom-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </article>
            <img src="/img/logo-gitshoes1.jpg" alt="logo">
        
            <nav class="header-nav">
                <ul>
                    <li><a href="" class="trancision-nav-header">HOMBRE</a></li>
                    <li><a href="" class="trancision-nav-header">MUJER</a></li>
                    <li><a href="" class="trancision-nav-header">NIÑOS</a></li>
                    <li><a href="" class="trancision-nav-header">ACCESORIOS</a></li>
                    <li><a href="" class="marca-menu">MARCA</a></li>
                </ul>
            </nav>
        
        <section class="Icom-header">
            <a href="" class="trasición-icono"><i class="fa-solid fa-magnifying-glass" class="trancision-nav-header"></i>   </a>
          <a href="" class="trasición-icono"><i class="fa-solid fa-user"></i></a>
            <a href="" class="trasición-icono"> <i class="fa-solid fa-cart-shopping"></i></a>
            
        </section>
          <div class="envio-gratis-bar">
                ¡Envío gratis a partir de $50,000!
            </div>
    </header>
    <hr class="linea-negra">
    <main class="main_carrito">
        <section class="seccion_1_carrito">
            <div>
                <img src="/img/detalleDelProducto/8175143.jpg" alt="imagen dde zapatillas" class="imagen_carrito">
            </div>
            <div class="carrito_datos">
                <p>Producto:</p>
                <img src="/images/detalleDelProducto/8175138.jpg" alt="imagen de zapatilla" class="imagen_color">
            </div>
            <div class="carrito_datos">
                <p>Detalle:</p>
                <p>Vans - W ward</p>
            </div>
            <div class="carrito_datos">
                <p>Talle:</p>
                <p>39</p>
            </div>
            <div class="carrito_datos">
                <p>Color:</p>
                <img src="/images/detalleDelProducto/8175143.jpg" alt="imagen de zapatilla" class="imagen_color">
            </div>
            <div class="carrito_datos">
                <p>Precio:</p>
                <p>45000</p>
            </div>
            <div class="carrito_datos">
                <p>Cantidad:</p>
                <p>1</p>
            </div>
            <div class="carrito_datos">
                <p>Precio subtotal:</p>
                <p>45000</p>
            </div>
        </section>
        <section class="seccion_2_carrito">
            <div class="seccion_cupon">
                <p class="cupon_consulta">¿Tenés un cupón de descuento?</p>
                <div class="input_cupon_boton">
                    <input type="text" name="cupon" id="cupon">
                    <button type="submit" value="enviar datos" class="aplicar_descuento">Aplicar descuento</button>
                </div>
            </div>
            <div class="resumen_carrito">
                <div class="total_articulos">
                    <p>Total de artículos:</p>
                    <p>1</p>
                </div>
                <div class="total_precio">
                    <p>Total:</p>
                    <p>45000</p>
                </div>
                    
            </div>
            <div class="envios_cart">
                <p>Costo de envio:</p>
                <input type="text" name="envio" id="envio" placeholder="Indique su código postal">
                <button type="submit" value="enviar datos" class="boton_buscar_envio">Buscar</button>
            </div>
            <button type="submit" value="enviar datos" class="finalizar_compra">Finalizar Compra</button>

            <button type="submit" value="enviar datos"  class="continuar_comprando">Continuar comprando</button>

            <button type="submit" value="enviar datos" class="vaciar_carrito">Vaciar carrito </button>
        </section>
    </main>
    <hr class="linea-negra">
    <footer>
    <p id="footer1">Información General</p>
        <section id="footer2">
            <nav>
                <ul>
                    <li>FORMAS DE PAGO</li>
                    <li>ENVÍOS Y CAMBIOS</li>
                    <li>GUÍA DE COMPRAS</li>
                    <li>LOCALES</li>
                    <li>RR.HH</li>
                </ul>
            </nav>
        </section>
        <section id="footer3">
            <nav>
                <ul>
                    <li>Contacto</li>
                    <li>Clientes</li>
                    <li>E-Store</li>
                    <li>WhatsApp</li>
                </ul>
            </nav>
        </section>
    </footer>
</body>
</html>