<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalleDelProducto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/icom/favicon-16x16.png"/>
    <script src="https://kit.fontawesome.com/5db5054929.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header>
      <article class="icom-hamburguesa">
          <i class="fa-solid fa-bars"></i>
      </article>
          <img src="/img/logo-gitshoes1.jpg" alt="logo">
      
          <nav class="header-nav">
              <ul>
                  <li><a href="" class="trancision-nav-header">HOMBRE</a></li>
                  <li><a href="" class="trancision-nav-header">MUJER</a></li>
                  <li><a href="" class="trancision-nav-header">NIÑOS</a></li>
                  <li><a href="" class="trancision-nav-header">ACCESORIOS</a></li>
                  <li><a href="" class="marca-menu">MARCA</a></li>
              </ul>
          </nav>
      
      <section class="Icom-header">
          <a href="" class="trasición-icono"><i class="fa-solid fa-magnifying-glass" class="trancision-nav-header"></i>   </a>
        <a href="" class="trasición-icono"><i class="fa-solid fa-user"></i></a>
          <a href="" class="trasición-icono"> <i class="fa-solid fa-cart-shopping"></i></a>
          
      </section>
        <div class="envio-gratis-bar">
              ¡Envío gratis a partir de $50,000!
          </div>
  </header>
  <hr class="linea-negra">
    <main class="body_detalleDelProducto">

        <section class="imagen_producto_detalle">
            <img src="/img/detalleDelProducto/8175143.jpg" alt="imagen de zapatillas">
            <img src="/img/detalleDelProducto/vans.jpg" alt="imagen de zapatillas">
            <img src="/img/detalleDelProducto/8175138.jpg" alt="imagen de zapatillas">
        </section>
        <section class="carousel_detalle_del_producto">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/img/detalleDelProducto/8175143.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/detalleDelProducto/vans.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/detalleDelProducto/8175138.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
            
        <section class="seleccion_talle_color_detail">
            <article class="titulo_precio_color">
                <h3 class="marca_producto">Vans</h3>
              <div class="modelo_precio"> 
                <p class="modelo_prodcuto">Zapatillas Vans W Ward</p>
                <p class="precio_producto">$53000</p>
              </div>
                <p class="titulo_color">Colores:</p>
                <p class="color_producto">Negro</p>
            </article>
            <article class="seleccion_talles">
              <h3 class="titulo_talles">Talles:</h3>
              <div class="talles_disponibles">
                <div>37</div>
                <div>38</div>
                <div>39</div>
                <div>40</div>
                <div>41</div>
                <div>42</div>
                <div>43</div>
                <div>44</div>
                <div>45</div>
              </div>
            </article>
            <div class="boton_comprar"><button type="submit" value="comprar"><a href="">comprar</a></button></div>
            <article class="cantidad_producto">
              <p>cantidad:</p>
              <input type="number" placeholder="1" value="1" min="1" class="input_contador"/>
            </article>
            <article class="descripcion_producto">
                <h3>Descripción</h3>
                <p>Las nuevas Vans Ward combinan el estilo de la clásica zapatilla de skate con las rayas laterales,
                    con una puntera reforzada y materiales resistentes. Diseñados para tus paseos por la ciudad.
                </p>
            </article>
            <section class="accesos_relacionados">
              <h3>Envíos</h3>
              <p>Costos y tiempo de entrega</p>
              <h3>Cambios</h3>
              <p>Cambios y tiempos de entrega</p>
              <h3>Pagos</h3>
              <p>Consultar medios de pago aceptados</p>
            </section>
        </section>
    </main>

    <footer>
      <p id="footer1">Información General</p>
        <section id="footer2">
            <nav>
                <ul>
                    <li>FORMAS DE PAGO</li>
                    <li>ENVÍOS Y CAMBIOS</li>
                    <li>GUÍA DE COMPRAS</li>
                    <li>LOCALES</li>
                    <li>RR.HH</li>
                </ul>
            </nav>
        </section>
        <section id="footer3">
            <nav>
                <ul>
                    <li>Contacto</li>
                    <li>Clientes</li>
                    <li>E-Store</li>
                    <li>WhatsApp</li>
                </ul>
            </nav>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>