<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Shoes</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5db5054929.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
<article class="imagen-logo img">
    <img src="/img/logo gitshoes.png" alt="">
</article>

        <nav class="nav-header">
            <ul>
                <li><a href="">Mujer</a></li>
                <li><a href="">Hombre</a></li>
                <li><a href="">Niños</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Marcas</a></li>
            </ul>
        </nav>
        <article class="icom-hamburguesa"></article>
    </header>
</body>
</html>