<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Shoes</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5db5054929.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
   <article class="icom-hamburguesa">
    <i class="fa-solid fa-bars"></i>
</article>

    <img src="/img/logo-gitshoes1.jpg" alt="logo">

    <section class="nav-header">
        <ul>
            <li><a href="" class="trancision-nav-header">HOMBRE</a></li>
            <li><a href="" class="trancision-nav-header">MUJER</a></li>
            <li><a href="" class="trancision-nav-header">NIÑOS</a></li>
            <li><a href="" class="trancision-nav-header">ACCESORIOS</a></li>
            <li><a href="" class="marca-menu">MARCA</a></li>
        </ul>
    </section>

<section class="Icom-header">
    <a href="" class="trasición-icono"><i class="fa-solid fa-magnifying-glass" class="trancision-nav-header"></i>   </a>
  <a href="/register" class="trasición-icono"><i class="fa-solid fa-user"></i></a>
    <a href="" class="trasición-icono"> <i class="fa-solid fa-cart-shopping"></i></a>
    
</section>

  <div class="envio-gratis-bar">
        ¡Envío gratis a partir de $50,000!
    </div>
</header>
<hr class="linea-negra">
<body>
  
    <main>
        
    </main>

    <footer>
        <p id="footer1">Información General</p>
        <section id="footer2">
           
            <nav>
                <ul>
                    <li>FORMAS DE PAGO</li>
                    <li>ENVÍOS Y CAMBIOS</li>
                    <li>GUÍA DE COMPRAS</li>
                    <li>LOCALES</li>
                    <li>RR.HH</li>
                </ul>
            </nav>
        </section>
        <section id="footer3">
            <nav>
                <ul>
                    <li>Contacto</li>
                    <li>Clientes</li>
                    <li>E-Store</li>
                    <li>WhatsApp</li>
                </ul>
            </nav>
        </section>
    </footer>
</body>
</html>