<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitshoes</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/icom/favicon-16x16.png"/>
    <script src="https://kit.fontawesome.com/5db5054929.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body >
    <header>
        <article class="icom-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </article>
        
            <img src="/img/logo-gitshoes1.jpg" alt="logo">
        
            <nav class="header-nav">
                <ul>
                    <li><a href="" class="trancision-nav-header">HOMBRE</a></li>
                    <li><a href="" class="trancision-nav-header">MUJER</a></li>
                    <li><a href="" class="trancision-nav-header">NIÑOS</a></li>
                    <li><a href="" class="trancision-nav-header">ACCESORIOS</a></li>
                    <li><a href="" class="marca-menu">MARCA</a></li>
                </ul>
            </nav>
        
        <section class="Icom-header">
            <a href="" class="trasición-icono"><i class="fa-solid fa-magnifying-glass" class="trancision-nav-header"></i>   </a>
          <a href="" class="trasición-icono"><i class="fa-solid fa-user"></i></a>
            <a href="" class="trasición-icono"> <i class="fa-solid fa-cart-shopping"></i></a>
            
        </section>
        
          <div class="envio-gratis-bar">
                ¡Envío gratis a partir de $50,000!
            </div>
     </header>
     <hr class="linea-negra">
     <main class="main-login">
<div class="login-container">
    <h2>Iniciar sesión</h2>
    <form action="#" method="post">
        <div class="form-group">
            <label for="username" class="username_login">Usuario:</label>
            <input type="text" id="username_login" name="username" required placeholder="Ingrese su email">
        </div>

        <div class="form-group">
            <label for="password" class="password_login">Contraseña:</label>
            <input type="password" id="password_login" name="password" required placeholder="Ingrese su contraseña">
        </div>
        <button type="submit" class="boton_inicar_sesion_login">Iniciar sesión</button>
        <div class="recuperar_contraseña">
            <p>¿Olvidaste tu contraseña?</p>
            <a href="">Haz click aquí</a>
        </div>
        <div  class="registarse_login">
            <p>Si aún no estas registrado</p>
            <a href="">Haz click aquí</a>
        </div>
    </form>
</div>
</main>
<hr class="linea-negra">
<footer>
    <p id="footer1">Información General</p>
    <section id="footer2">
       
        <nav>
            <ul>
                <li>FORMAS DE PAGO</li>
                <li>ENVÍOS Y CAMBIOS</li>
                <li>GUÍA DE COMPRAS</li>
                <li>LOCALES</li>
                <li>RR.HH</li>
            </ul>
        </nav>
    </section>
    <section id="footer3">
        <nav>
            <ul>
                <li>Contacto</li>
                <li>Clientes</li>
                <li>E-Store</li>
                <li>WhatsApp</li>
            </ul>
        </nav>
    </section>
</footer>
</body>
</html>
