<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/icom/favicon-16x16.png"/>
    <script src="https://kit.fontawesome.com/5db5054929.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<header>
    <article class="icom-hamburguesa">
        <i class="fa-solid fa-bars"></i>
    </article>
    
        <img src="/img/logo-gitshoes1.jpg" alt="logo">
    
        <nav class="header-nav">
            <ul>
                <li><a href="" class="trancision-nav-header">HOMBRE</a></li>
                <li><a href="" class="trancision-nav-header">MUJER</a></li>
                <li><a href="" class="trancision-nav-header">NIÑOS</a></li>
                <li><a href="" class="trancision-nav-header">ACCESORIOS</a></li>
                <li><a href="" class="marca-menu">MARCA</a></li>
            </ul>
        </nav>
    
    <section class="Icom-header">
        <a href="" class="trasición-icono"><i class="fa-solid fa-magnifying-glass" class="trancision-nav-header"></i>   </a>
      <a href="" class="trasición-icono"><i class="fa-solid fa-user"></i></a>
        <a href="" class="trasición-icono"> <i class="fa-solid fa-cart-shopping"></i></a>
        
    </section>
      <div class="envio-gratis-bar">
            ¡Envío gratis a partir de $50,000!
        </div>
</header>
<hr class="linea-negra">
<body class="body_register">
<main class="main_register" >
<div class="container_registro">
    <h2 class="registro">Registro</h2>
    <form class="form_register">
        <div class="input-group">
            <label for="nombre">Ingrese su nombre:</label>
            <input type="text" id="nombre" name="nombre" required placeholder="Nombre">
        </div>
        <div class="input-group">
            <label for="apellido">Ingrese su apellido:</label>
            <input type="text" id="apellido" name="apellido" required placeholder="Apellido">
        </div>
        <div class="input-group">
            <label for="email">Ingrese su correo:</label>
            <input type="email" id="email" name="email" required placeholder="Correo electrónico">
        </div>
        <div class="input-group">
            <label for="password">Ingrese su contraseña:</label>
            <input type="password" id="password" name="password" required placeholder="Contraseña">
        </div>
        <div class="input-group">
            <input type="checkbox" id="terminos" name="terminos" required>
            <label for="terminos">Estoy de acuerdo con los términos y condiciones</label>
        </div>
        <button class="bregistro"  type="submit">REGISTRAR</button>
    </form>
    <p id="tengo">¿Ya tienes una cuenta? <a href="login.html">Inicia sesión</a></p>
</div>
</main>
<hr class="linea-negra">
<footer>
    <p id="footer1">Información General</p>
    <section id="footer2">
        <nav>
            <ul>
                <li>FORMAS DE PAGO</li>
                <li>ENVÍOS Y CAMBIOS</li>
                <li>GUÍA DE COMPRAS</li>
                <li>LOCALES</li>
                <li>RR.HH</li>
            </ul>
        </nav>
    </section>
    <section id="footer3">
        <nav>
            <ul>
                <li>Contacto</li>
                <li>Clientes</li>
                <li>E-Store</li>
                <li>WhatsApp</li>
            </ul>
        </nav>
    </section>
</footer>
</body>
</html>
