<!DOCTYPE html>
<html>
<head>
    <title>Tu tienda online</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <nav>
        <ul>
            <li>Mujeres</li>
            <li>Hombres</li>
            <li>Niños</li>
            <li>Accesorios</li>
            <li>Marcas</li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <i class="fas fa-search"></i> <!-- Icono de lupa -->
        </div>
        <div class="user-icon">
            <i class="fas fa-user"></i> <!-- Icono de usuario -->
        </div>
        <div class="cart-icon">
            <i class="fas fa-shopping-cart"></i> <!-- Icono de carrito -->
        </div>
    </nav>
</header>

<main>
    <div class="big-square">
        <!-- Esto es el cuadrado grande vacío en el centro -->
    </div>
</main>
<hr class="linea-divisoria">
<footer>
    <p class="infoGeneral">Información General</p>

    <nav>
        <ul >
            <li class="fot">FORMAS DE PAGO</li>
            <li class="fot">ENVÍOS Y CAMBIOS</li>
            <li class="fot">GUÍA DE COMPRAS</li>
            <li class="fot">LOCALES</li>
            <li class="fot">RR.HH</li>
        </ul>
        <article>
            <li class="fot1">Contacto</li>
            <span>|</span>
            <li class="fot1">Clientes</li>
            <span>|</span>
            <li class="fot1">E-Store</li>
            <span>|</span>
            <li class="fot1">Whatsapp</li>
        </article>
        
    </nav>
</footer>
</body>
</html>
