/* Estilos específicos para #footer1 */
#footer1{
    background-color: beige;
    text-align: center;
    margin: auto;
    border: 2px solid blue;
}

/* Estilos específicos para #footer2 */

#footer2{
    text-align: center;
    width: auto;
    border: 2px solid green;
}


#footer2 nav ul li {
    display: block; /* Elementos mostrados como bloques */
    padding: 15px; /* Relleno interno*/
    margin: 27px; /* Margen externo*/
    background-color: #000000; /* Fondo color*/
    color: white; /* Texto en color*/
  border-radius: 20px; /* Ajusta este valor para cambiar la curvatura */

}

/* Estilos para #footer3 */
#footer3 {
    background-color: azure;
    opacity: 0.9;
    margin-top:17%;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
}


#footer3 nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}


#footer3 nav ul li {
    margin: 0 5px; /* Espacio entre los elementos de la lista */
    position: relative;
    width: auto;
    text-align: center;

}

#footer3 nav ul li:not(:last-child)::after {
    content: "|"; /* Agrega el separador visual entre los elementos */
    text-align: center;
    margin-left: 5px; /* Espacio entre el separador y el elemento */
    color: black; /* Cambia el color del separador si es necesario */
    width: 100%;
}

/* Elimina el separador después del último elemento */
#footer3 nav ul li:last-child::after {
    content: "";
    width: auto;
}

#footer3 nav li{
    margin: 0 10px;
}

