body{
    
    background-image: url(https://media.gq.com.mx/photos/5f68ebd8abe3a852d28d5d73/16:9/w_2560%2Cc_limit/TENIS.jpg);
    background-size: cover;
    opacity: 1.5;
}
main{
    background-color: #ccc;
    opacity: 0.6;
}
.registro{
    text-align: center;
}

.input-group{
    text-align: center;
    justify-content: center;
    width: 100%; 
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos en el eje horizontal */
}


.bregistro{
    color: #fff5f5;
    background-color: rgb(0, 38, 255);
    width: 13vh; /* Puedes ajustar el ancho del botón si es necesario */
    margin-top: 10px; /* Espacio arriba del botón */
}

#tengo{
    text-align: center;
    justify-content: center;
}